.header{
    width:100%;
    height: 50px;
    background: #212F3C;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
    margin:0 0 0px 0;
    padding:0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header #menu-box{
    background: transparent;
    height: 50px;
    padding:5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header #menu-box #menu{
    background: transparent;
    list-style: none;
    padding:5px 10px;
    box-sizing: border-box;
}

.header #menu-box #menu li{
    display: inline-block;
    margin:0 10px 0 0;
    background: transparent;
    box-sizing: border-box;
    padding:5px 15px;
    /*border-radius:100px;
    border:1px solid dodgerblue;*/
    color:dodgerblue;
}